<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	
	<Appenders>
		<Console name="Console OUT" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%m%n" />
		    <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
		</Console>

		<Console name="Console ERR" target="SYSTEM_ERR" follow="true">
			<PatternLayout pattern="%-5p %m%n" />
		    <ThresholdFilter level="WARN"/>
		</Console>
	</Appenders>
	
	<Loggers>
		<Logger name="tv.hd3g" level="info" />

		<Root level="warn">
			<AppenderRef ref="Console OUT" />
			<AppenderRef ref="Console ERR" />
		</Root>
	</Loggers>
	
</Configuration>
